@font-face {
    font-family: Larsseit-Bold;
    src: url(fonts/Larsseit-Bold.otf);
  }
  @font-face {
    font-family: Larsseit;
    src: url(fonts/Larsseit-Regular.otf);
  }
  @font-face {
    font-family: Larsseit-Light;
    src: url(fonts/Larsseit-Light.otf);
  }
  @font-face {
    font-family: SlackCircular-Bold;
    src: url(fonts/SlackCircular-Bold.otf);
  }
  @font-face {
    font-family: SlackCircular;
    src: url(fonts/SlackCircular-Book.otf);
  }
  .navigation {
    box-shadow: 0px 2px 5px #ACACAC;
    display: flex;
    list-style: none;
    width: 101vw;
    min-height: 10vh;
    position: relative;
    top: -10px;
    left: -10px;
}

#logo {
    height: 8vh;
    position: absolute;
    top: 20px;
    left: 8%;
}
.nav-list {
    position: absolute;
    display: flex;
    top: 55px;
    right: 13%;
}
.nav-list a{
    color: #666;
    text-decoration: none;
    font-family: 'Larsseit-Light', Arial, Sans-serif;
    padding-left: 25px;
    font-size: .9rem;
}
.nav-list a:hover {
    color: #611f69;
}
/* Hide the hamburger */
@media screen and (min-width: 800px) {
    .nav-list .icon {
        display: none;
        border: white solid 0px;
    }
}

@media screen and (max-width: 800px) {
    .nav-item {
        display: none;
    }
    .icon {
        display: block;
        border: white solid 0px;
        right: 25px;
        font-size: 1.25rem;
        color: #555;
    }
    .open a {
        display: block;
        background-color: #4a154b;
        color: white;
        padding-left: 0px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .open a:hover {
        color: #cfcfcf;
    }
    .open {
        width: 140px;
        display: block;
    }
    
}
/* custom swag page styles */
body {
    margin: 0 !important;
}
.admin-inventory-sect {
    width: 101%;
    background-color: #f6f6f6;
    padding-bottom: 1%;
}
.custom-swag {
    padding-top: 3%;
    margin-top: -10px;
}
.center {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 85%;
}
.left {
    width: 50%;
    padding-left: 9%;
    padding-right: 5%;
}
.right {
    width: 40%;
}
h1 {
    font-family: 'Larsseit-Bold', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}
p, a {
    font-family: 'SlackCircular', Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.15rem;
}
a {
    color: #4a154b;
}
a:hover {
    color: #611f69;
}

/* footer */
.footer {
    display: flex;
    text-align: right;
    float: right;   
    padding-left: 50%;
    font-family: 'SlackCircular', Arial, Helvetica, sans-serif;
    margin-bottom: 3%;
    padding-right: 10%;
}
.footer a{
    display: block;
    text-decoration: none;
    font-size: .74rem;
    color: #666;
    line-height: 1.8;
}
.footer h4{
    display: block;
    font-family: 'SlackCircular', Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    color: #666;
    font-size: 1.15rem;
    }

/* admin dashboard page styles */
.admin-container {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
}
.admin-container p {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: -5px;
}
h2 {
    font-family: 'Larsseit', Arial, Helvetica, sans-serif;
    /* clear: both; */
}
.button {
    width: 115px;
    background-color: #611f69;
    border-radius: 4px;
    margin-top: 30px;
    display: block;
    /* float: right; */
    text-align: center;
}
.button:hover {
    background-color: #4a154b;
}
a.button{
    color: #fff;
    padding: 16px;
    font-size: 1rem;
    font-family: 'SlackCircular', Arial, Helvetica, sans-serif;
}
.admin-right-side {
    width: 50%;
    padding-right: 10%;
    padding-left: 4%;
}
.admin-left-side {
    width: 50%;
    padding-left: 10%;
    padding-right: 4%;
}
/* dashboard style ends */