@font-face {
    font-family: Larsseit-Bold;
    src: url(fonts/Larsseit-Bold.otf);
  }
  @font-face {
    font-family: Larsseit;
    src: url(fonts/Larsseit-Regular.otf);
  }
  @font-face {
    font-family: Larsseit-Light;
    src: url(fonts/Larsseit-Light.otf);
  }
  @font-face {
    font-family: SlackCircular-Bold;
    src: url(fonts/SlackCircular-Bold.otf);
  }
  @font-face {
    font-family: SlackCircular;
    src: url(fonts/SlackCircular-Book.otf);
  }
body {
    margin: 0 !important;
}
.navigation {
    box-shadow: 0px 2px 5px #ACACAC;
    display: flex;
    list-style: none;
    width: 101vw;
    min-height: 10vh;
    position: relative;
    top: -10px;
    left: -10px;
}

#logo {
    height: 8vh;
    position: absolute;
    top: 20px;
    left: 8%;
}
.nav-list {
    position: absolute;
    display: flex;
    top: 55px;
    right: 13%;
}
.nav-list a{
    color: #666;
    text-decoration: none;
    font-family: 'Larsseit-Light', Arial, Sans-serif;
    padding-left: 25px;
    font-size: .9rem;
}
.nav-list a:hover {
    color: #611f69;
}
/* Hide the hamburger */
@media screen and (min-width: 800px) {
    .nav-list .icon {
        display: none;
        border: white solid 0px;
    }
}

@media screen and (max-width: 800px) {
    .nav-item {
        display: none;
    }
    .icon {
        display: block;
        border: white solid 0px;
        right: 25px;
        font-size: 1.25rem;
        color: #555;
    }
    .open a {
        display: block;
        background-color: #4a154b;
        color: white;
        padding-left: 0px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .open a:hover {
        color: #cfcfcf;
    }
    .open {
        width: 140px;
        display: block;
    }
    
}

.welcome-banner {
    background-color: #f6f6f6;
    height: 35vh;
    width: 93vw;
    margin-left: -10px;
    margin-top: -10px;
    padding: 50px 0 0 8%;
}
.welcome-banner h3 {
    font-family: 'Larsseit-Light', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin-bottom: 0px;
    color: #4a154b;
}
.welcome-banner h1 {
    font-family: 'Larsseit-Bold', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    line-height: 1;
    color: #4a154b;
    margin: 0px;
    margin-top: 8px;
}
.welcome-banner p {
    font-family: 'Larsseit-Regular', Arial, Helvetica, sans-serif;
    color: #4a154b;
    margin: 0px;
    font-size: .75rem;
}

/* purple icon/buttons to enter stores */
.enter-store-container {
    display: flex;
    justify-content: space-evenly;
    padding-left: 17%;
    margin-top: -3%;
    text-align: right;
    padding-right: 10%;
    margin-bottom: 7%;
}
.tear-drop-shape {
    width: 130px;
    height: 130px;
    background-color: #4a154b;
    border-radius: 145% 145% 0 145%;
    float: right;
    box-shadow: 0px 2px 5px #ACACAC;
    margin-bottom: 25px;
}
.tear-drop-shape:hover {
    background-color: #611f69; 
}
.clear {
    clear: both;
}
.tear-drop-shape h5{
    color: #cfcfcf;
    padding-top: 60px;
    font-family: 'SlackCircular', Arial, Helvetica, sans-serif;
    position: relative;
    top: -10px;
    right: 20px;
    text-decoration: none;
}
.tear-drop-shape h5:hover {
    color: #fff;
}
.store-buttons-each h4 {
    font-family: 'Larsseit-Bold';
    text-align: right;
    color: #555;
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.store-buttons-each p {
    font-family: 'Larsseit-Light', Arial, Helvetica, sans-serif;
    text-align: right;
    font-size: .87rem;
    color: #666;
    line-height: 1.4;
}
#astrisk {
    font-size: .67rem;
}
.store-buttons-each a {
    text-decoration: none;
}
.store-buttons-each {
    width: 50%;
    padding-left: 60px;
}
.container-1 {
    display: flex;
    justify-content: space-evenly;
}
.container-2 {
    display: flex;
    justify-content: space-evenly;
}
/* footer */
.footer {
    display: flex;
    text-align: right;
    float: right;   
    padding-left: 50%;
    font-family: 'SlackCircular', Arial, Helvetica, sans-serif;
    margin-bottom: 3%;
    padding-right: 10%;
}
.footer a{
    display: block;
    text-decoration: none;
    font-size: .74rem;
    color: #666;
    line-height: 1.8;
}
.footer h4{
    display: block;
    font-family: 'SlackCircular', Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    color: #666;
    font-size: 1.15rem;
}

/* map styles */

#map-style {
    display: block;
    margin:0 auto;
    width: 80vw;
    height: auto;
    padding-bottom: 15px;
}
.map-intro {
    padding-left: 9%;
    padding-top: 20px;
}
.map-intro a {
    color: #4a154b;
    text-decoration: none;
    font-family: 'Larsseit', Arial, Helvetica, sans-serif;
}
.map-intro a:hover {
    color: #7c3085;
}
.map-intro h5{
    font-family: 'Larsseit-Light', Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    color: #666;
    font-size: 1.25rem;
    margin-top: 16px;
}
.map-intro span {
    font-family: 'Larsseit-Bold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

/* window is 1025px or more */
@media screen and (min-width: 1025px) {
    .store-buttons-each img {
        width: 8vw;
    }
    .welcome-banner {
        padding: 60px 0 0 8%;
        height: 44vh;
    }
    .welcome-banner h3 {
        font-size: 4rem;
    }
    .welcome-banner h1 {
        font-size: 5rem;
    }
    .welcome-banner p {
        font-size: 1rem;
    }
    .tear-drop-shape {
        width: 160px;
        height: 160px;
    }
    .store-buttons-each h4 {
        font-size: 1.5rem;
    }
}
/* window is 1024px or less */
@media screen and (max-width: 1024px) {
    .enter-store-container {
        display: block;
        margin-top: -5%;
    }
    .container-1 {
        display: flex;
        width: 75vw;
    }
    .container-2 {
        display: flex;
        width: 75vw;
        margin-top: 7%;
    }
    .store-buttons-each img {
        width: 15vw;
    }
    .store-buttons-each {
        padding-left: 11%;
    }
    .welcome-banner {
        height: 32vh;
    }
    .tear-drop-shape {
        height: 150px;
        width: 150px;
    }
}
/* window is 790px or less */
@media screen and (max-width: 790px){
    .welcome-banner {
        height: 42vh;
    }
}

/* window is 600px or less */
@media screen and (max-width: 600px) {
    #astrisk {
        font-size: .25rem;
    }
    body {
        margin: 0px;
    }
    .enter-store-container {
        flex-direction: column;
    }
    .store-buttons-each img {
        width: 20vw;
    }
    .welcome-banner {
        padding: 8px 0 0 11%;
        height: 30vh;
    }
    .welcome-banner h3 {
        font-size: 6vw;
    }
    .welcome-banner h1 {
        font-size: 12vw;
        margin-top: 4px;
    }
    .welcome-banner p {
        font-size: .5rem;
        padding-right: 34%;
    }
    .store-buttons-each h4 {
        font-size: 1rem;
    }
    .store-buttons-each p {
        font-size: .65rem;
    }
    #logo {
        top: 10%;
    }
    .nav-list {
        top: 38%;
    }
    .navigation {
        width: 104vw;
    }
    .tear-drop-shape {
        height: 90px;
        width: 90px; 
    }
    .tear-drop-shape a{
        font-size: .5rem;
        top: 25px;
    }
    .tear-drop-shape h5 {
        top: -39px;
        right: 10px;
        font-size: .5rem;
    }
    .footer {
        padding-left: 20%;
        margin-bottom: 7%;
    }
    .footer h4 {
        font-size: .9rem;
    }
    .footer a {
        font-size: .6rem;
    }
    .map-intro h5{
        font-size: .8rem;
        padding-right: 4%;
    }
    .map-intro a {
        font-size: .7rem;
    }
}

